<!DOCTYPE html>
<html>
  <head>
    <title> ABM Productos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Eliminar Productos</h1>
    <form method="post" action="/products/quitar">
       
        <p>
        <label for="id"> ID</label>
        <input type="number" name="id" id="id">
        </p>
        <p>
        <label for="productName"> Nombre producto</label>
        <input type="text" name="productName" id="productName">
        </p>
      
      <p>
          <input type="submit" value="eliminar">
      </p>
    </form>

  </body>
</html>